<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="API_Regression_Suite" verbose="2" preserve-order="true" parallel="false">

    <listeners>
        <!-- Allure listener: REQUIRED for allure-results -->
        <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
        <!-- Your custom Allure logger (keep it if you need it) -->
        <listener class-name="Listener.AllureLogs"/>
    </listeners>

    <test name="Autochek_API_Automation">
        <classes>
            <class name="autochek_api_positive.DynamicResponse.DynamicResponsePositive">
                <methods>
                    <include name="GetCarList"/>
                    <include name="GetMake"/>
                    <include name="GetModelList"/>
                    <include name="GetTrims"/>
                    <include name="GetInspection"/>
                    <include name="GetInspectionRequest"/>
                    <include name="GetBodyType"/>
                    <include name="GetObds"/>
                </methods>
            </class>

            <class name="autochek_api_negative.DynamicResponse.DynamicResponseNegative">
                <methods>
                    <include name="GetCarListNegative"/>
                    <include name="GetMakeNegative"/>
                    <include name="GetModelListNegative"/>
                    <include name="GetTrimsNegative"/>
                    <include name="GetInspectionNegative"/>
                    <include name="GetInspectionRequestNegative"/>
                    <include name="GetBodyTypeNegative"/>
                    <include name="GetObdsNegative"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>
